<!DOCTYPE html>
<html
  class="dark"
  lang="en"
  th:fragment="parent(content, title, script)"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:replace="${title}">SCM</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

  <link rel="stylesheet" th:href="@{/css/output.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="dark:bg-gray-900 bg-gray-100 dark:text-white">
  <!-- Navbar -->
  <div th:if="${loggedInUser}">
    <div th:replace="~{user/user_navbar :: user-navbar}"></div>
  </div>
  <div th:unless="${loggedInUser}">
    <div th:replace="~{navbar :: navbar}"></div>
  </div>

  <!-- MAIN CONTENT -->
  <section th:replace="${content}"></section>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script th:src="@{/js/script.js}"></script>
  <th:block th:replace="${script} ?: ~{}"></th:block>
</body>
</html>
